{% extends "cvsite/layout.html" %}

{% block content %}
    <div class="projects-grid">
        <div class="project-card">
            <p>
                This project is a habit tracker that I built using Django. It allows users to create habits, track their progress, and view their statistics. The app is designed to help users build and maintain healthy habits by providing them with a simple and intuitive interface to track their progress. This is my final project for the CS50 course.
            </p>
            <div class="project-links">
                <a href="https://github.com/Nanu25/Habits" class="btn btn-github" target="_blank">GitHub</a>
                <a href="https://my-habit-tracker-0591dbd6deef.herokuapp.com/" class="btn btn-website" target="_blank">Visit Website</a>
            </div>
        </div>
        
        <div class="project-card">
            <p>
                This project is a social networking website inspired by Twitter, built using Django. Users can create accounts, post tweets, follow other users, and interact with tweets through likes and comments. The platform also features a timeline that displays tweets from users' followers. This project is inspired from CS50 but has a lot of changes.
            </p>
            <div class="project-links">
                <a href="https://github.com/Nanu25/Our-Social-Network" class="btn btn-github" target="_blank">GitHub</a>
                <a href="https://oursocialnetwork-d6a69d2b3ca9.herokuapp.com/" class="btn btn-website" target="_blank">Visit Website</a>
            </div>
        </div>
        
        <div class="project-card">
            <p>
                This project is an E-Commerce website that I built using Django. You can list an item, make bids on the item, add the items to a watchlist, and comment on the items. The website also has a feature to close the auction and declare the winner. This project is part of the CS50 course.
            </p>
            <div class="project-links">
                <a href="https://github.com/Nanu25/E-commerce" class="btn btn-github" target="_blank">GitHub</a>
                <a href="https://buysh-b6652a409bcb.herokuapp.com/" class="btn btn-website" target="_blank">Visit Website</a>
            </div>
        </div>
        
        <div class="project-card">
            <p>
                Connect four is a simple Python game that I built with a min-max algorithm which allows the computer to play against the user. This project is made in the first year of university.
            </p>
            <div class="project-links">
                <a href="https://github.com/Nanu25/Connect-Four" class="btn btn-github" target="_blank">GitHub</a>
            </div>
        </div>

    </div>
{% endblock %}
